@import "tailwindcss";

@theme {
	--color-background-dark: oklch(0.2 0 0);
	--color-background: oklch(0.25 0 0);
	--color-background-light: oklch(0.3 0 0);

	--color-dark-gray: oklch(0.4 0 0);
	--color-light-gray: oklch(0.7 0 0);

	--color-text: oklch(0.95 0 0);
	--color-text-muted: oklch(0.6 0 0);

	--shadow-s: inset 0 1px 2px #ffffff30, 0 1px 2px #00000030, 0 2px 4px #00000015;

	--shadow-m: inset 0 1px 2px #ffffff50, 0 2px 4px #00000030, 0 4px 8px #00000015;

	--shadow-l: inset 0 1px 2px #ffffff70, 0 4px 6px #00000030, 0 6px 10px #00000015;
}

@keyframes toast {
	0% {
		opacity: 0;
		transform: translateY(50px);
	}
	10% {
		opacity: 1;
		transform: translateY(0);
	}
	90% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(-50px);
	}
}

.toast-animation {
	animation: toast 3s ease-in-out forwards;
}

@keyframes expand {
	0% {
		width: 0px;
	}

	100% {
		width: 60%;
	}
}

.expand-animation {
	animation: expand 1s ease-out 300ms forwards;
}

@keyframes color-change {
	0% {
		background-color: #9e9e9e;
	}

	100% {
		background-color: var(--keyColor);
	}
}

.key-color {
	animation: color-change ease forwards;
	animation-name: color-change;
	animation-delay: 1.7s;
	animation-fill-mode: forwards;
}

@keyframes tile-flip {

	0%,
	100% {
		transform: scaleY(1);
	}

	50% {
		transform: scaleY(0);
	}
}

@keyframes tile-color {
	0% {
		background-color: transparent;
		border-color: #9e9e9e;
	}

	100% {
		background-color: var(--tileColor);
		border-color: var(--tileColor)
	}
}

.wordle-flip>* {
	animation: tile-flip 700ms ease-in-out calc(var(--i) * 200ms) forwards;
}

.wordle-flip>*>div {
	animation: tile-color 350ms ease calc(var(--i) * 200ms + 350ms) forwards;
}

@keyframes tile-pop {

	0%,
	100% {
		transform: scale(1);
	}

	50% {
		transform: scale(1.1);
	}
}

.wordle-pop {
	animation: pop-animation 100ms ease-in-out 1;
}

::view-transition-group(title) {
	animation-duration: 300ms;
	animation-timing-function: ease-in-out;
}
