@import "tailwindcss";

@theme {
	--color-background-dark: oklch(0.2 0 0);
	--color-background: oklch(0.25 0 0);
	--color-background-light: oklch(0.3 0 0);

	--color-dark-gray: oklch(0.4 0 0);
	--color-light-gray: oklch(0.7 0 0);
	
	--color-text: oklch(0.95 0 0);
	--color-text-muted: oklch(0.6 0 0);

	--shadow-s: inset 0 1px 2px #ffffff30,
				0 1px 2px #00000030,
				0 2px 4px #00000015;

	--shadow-m: inset 0 1px 2px #ffffff50,
				0 2px 4px #00000030,
				0 4px 8px #00000015;

	--shadow-l: inset 0 1px 2px #ffffff70,
				0 4px 6px #00000030,
				0 6px 10px #00000015;

	--font-wordle: 'PlayfairDisplay', 'serif';
}

@font-face {
  font-family: 'PlayfairDisplay';
  font-weight: 500;
  font-style: medium;
  font-display: swap;
  src: url('PlayfairDisplay-Medium.ttf') format('truetype');
}

@keyframes key-color {
	0% { background-color: "#9e9e9e";}
	100% {background-color: var(--keyColor);}
}

.key-color {
	animation-name: key-color;
	animation-delay: 1.7s;
	animation-fill-mode: forwards;
}

@keyframes wordle-flip {
	0%, 100% {transform: scaleY(1);}
	50% {transform: scaleY(0);}
}

@keyframes wordle-color {
	0% {background-color: transparent; border-color: #9e9e9e}
	100% {background-color: var(--tileColor); border-color: var(--tileColor)}
}

.wordle-flip > * {
	animation: wordle-flip 700ms cubic-bezier(0.6, 0.0, 1, 1) calc(var(--i) * 200ms) forwards;
}

.wordle-flip > * > div {
	animation: wordle-color 350ms ease calc(var(--i) * 200ms + 350ms) forwards;
}

@keyframes pop-animation {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.1); }
}

.animate-pop {
	animation: pop-animation 100ms ease-in-out 1;
}
